body{
	width: 350px;
	height: 100px;
}
section{
	margin: 10px;
	border: solid 5px #eee;
	font-size: 1em;
}
#show-express{
	width: 90%;
	margin: 5px 10px;
	background-color: #ccc;
	border: solid #abc 3px;
	border-radius: 2px;
}
pre{
	width: 90%;
	height: 1em;
	margin: 5px 10px;
}
#input-btns{
	display: grid;
	grid-columns: 80px 80px 80px 80px;
  	grid-rows: 80px 80px 80px 80px;
}
.line{
}
.btn{
	background-color: #ccc;
	grid-column: 1;
  	grid-row: 1;
  	margin: 10px;
}
